* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    color: black;
}

.header {
    background-color: #f7f8f8;
    padding: 20px;
    padding-left: 100px;
}
.top-items a{
    text-decoration: none;
}
.bottom-items a {
 border-bottom: 2px solid black;
 text-decoration: none;
}

.top-items {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: small;
    margin-left: 10px;
}

.top-items i {
    padding: 10px;
    border-radius: 50%;
    background-color: #EBEBEB;
}

.header-bottom {
    padding-top: 10px;
}

.bottom-items {
    display: inline-block;
    font-size: small;
    padding: 10px;
}

.selectcity {
    padding: 15px;
    width: 300px;
    border: 2px solid black;
}

.search {
    padding: 15px;
    width: 500px;
    border: 2px solid black;
    /* margin-bottom:20px ; */
}

.fa-magnifying-glass {
    background-color: rgb(12, 32, 41);
    color: #f7f8f8;
    padding: 15px;
    border: 2px solid black;
}

.login {
    font-size: large;
    color: rgb(23, 48, 59);
    font-weight: bold;
}

.sell-button {
    padding: 12px;
    background-color: #fff;
    border-bottom: 4px solid #3a77ff;
    border-top: 4px solid #3a77ff;
    border-left: 4px solid #ffce32;
    border-right: 4px solid #23e5db;
    border-radius: 20px;
    margin-left: 15px;
    font-size: large;
    width: 100px;
    font-weight: bold;
}

.categories {
    display: flex;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    width: 94.4%;
    margin-bottom: 20px;
    padding-left: 5%;

}

.category {
    margin-left: 1%;
    text-align: center;
}

p:hover {
    color: #3a77ff;
    cursor: pointer;
}

.slider {
    width: 70%;
    margin: auto;
}

.slider img {
    width: 100%;
    height: 200px;
}

.services {
    margin-top: 7%;
    margin-left: 14%;
}

.all-cat {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 13%;
    margin-right: 13%;
}

.all-cat img {
    width: 70%;
}

.cat-cards, .vehicles, .Propertyforsale, .propertyforrent, .electronics, .bikes, .industrial, .paint-service, .Job{
    margin-top: 2%;
    max-width: 200px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    margin: 15px 15px;
    padding-right: 10px;
}

.cat-cards>img {
    width: 80px;
}

.vehicles > img {
    width: 80px;
}

.Propertyforsale > img {
    width: 80px;
}

.propertyforrent > img {
    width: 80px;
}

.electronics > img {
    width: 80px;
}

.bikes > img {
    width: 80px;
}

.industrial > img {
width: 80px;
}

.paint-service > img {
width: 80px;
}

.Job > img {
    width: 80px;
}

.cat-cards-2{
    display: flex;
    margin-left: 13%;
    margin-right: 13%;
}

.Animal {
    margin-top: 2%;
    margin-top: 2%;
    max-width: 200px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    margin: 15px 15px;
    padding-right: 10px;
}

.Animal > img {
    width: 80px;
}

.furniture {
    margin-top: 2%;
    margin-top: 2%;
    max-width: 200px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    margin: 15px 15px;
    padding-right: 10px;
}

.furniture > img {
    width: 80px;
}

.fashion {
    margin-top: 2%;
    margin-top: 2%;
    max-width: 200px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    margin: 15px 15px;
    padding-right: 10px;
}

.fashion > img {
    width: 80px;
}

.books {
    margin-top: 2%;
    margin-top: 2%;
    max-width: 200px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    margin: 15px 15px;
    padding-right: 10px;
}

.books > img {
    width: 80px; 
}

.kids {
    margin-top: 2%;
    max-width: 200px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    margin: 15px 15px;
    padding-right: 10px;
}

.kids > img {
    width: 80px;
}
.mobile{
    padding-left: 14%;
}
.cards-selling-items{
padding: 0 80px;
margin-top: 10px;
margin-left: 9%;
display: flex;
}
.ad-card{
    display: inline-block;
    border: 1px solid rgb(165, 165, 165);
    max-width: 250px;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
}
.ad-card img{
    width: 100%;
    height: 150px;
}
.fa-heart{
    float: right;
    margin-right: 10px;
}
.fa-heart:hover{
    color: red;
    cursor: pointer;

}
.pricing{
    padding: 10px;
    font-weight: bold;

}

.details{
    padding: 10px;
}

.location{
    padding-top: 10px;
}

.small-txt{
    font-size: small;
    padding-top: 10px;
}

.cars{
    padding-left: 14%;
    margin-top: 10px;
}
.motorcycles{
    padding-left: 14%;
    margin-top: 10px;
}
.footer{
    background-color: #EBEEEF;
    height: 250px;

}
.footer-cat{ 
    display: flex;
    justify-content: space-evenly;;
    width: 75%;
    margin: 0% auto;
    padding: 20px;
}
.footer-cat ul li{
list-style: none;
padding-right: 100px;
color: #8a8b85;
font-size: small;
}
ul li{
    padding-top: 10px;
}
.footer-foot{
    background-color: #122F34;
    height: 100px;
    margin-top: 70px;
    padding-right: 80px;
}
.footer-foot p {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-weight: bold;
    padding-right: 25px;
    padding-top: 30px;
}
.footer-foot span {
    color: white;
    font-weight: bold;
    /* padding-right: 25px;
    padding-top: 25px; */
}
/* .footer-cat h3{
    padding-top: 25px;
} */
/* .social-handles i{
    display: flex;
    border-radius: 50%; */

.main{
    padding: 0;
    display: flex;
padding-right: 20px;
}
.fa-twitter{
    border: 2px solid #122F34;
    color: #122F34;
    padding: 5px;
    border-radius: 50%;
}
.fa-facebook-f{
    border: 2px solid #122F34;
    color: #122F34;
    padding: 5px;
    border-radius: 50%;
}
.fa-youtube{
    border: 2px solid #122F34;
    color: #122F34;
    padding: 5px;
    border-radius: 50%;
}
.fa-instagram{
    border: 2px solid #122F34;
    color: #122F34;
    border-radius: 50%;
    padding: 5px;
}
ol li{
    padding-left: 8px;
    padding-top: 10px;
    list-style: none;
}